HypersDesktopWFApp/HypersDesktopWFApp/Connected Services/ServiceReference1/DesktopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DesktopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8740/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8740/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8740/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" />
      <xsd:import schemaLocation="http://localhost:8740/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDesktopService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_FindProductsByDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByDescription" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_FindProductsByDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_FindProductsByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByStatus" />
  </wsdl:message>
  <wsdl:message name="IDesktopService_FindProductsByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IDesktopService">
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesktopService/UpdateProduct" message="tns:IDesktopService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesktopService/UpdateProductResponse" message="tns:IDesktopService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesktopService/CreateProduct" message="tns:IDesktopService_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesktopService/CreateProductResponse" message="tns:IDesktopService_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProductsByDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesktopService/FindProductsByDescription" message="tns:IDesktopService_FindProductsByDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesktopService/FindProductsByDescriptionResponse" message="tns:IDesktopService_FindProductsByDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProductsByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesktopService/FindProductsByStatus" message="tns:IDesktopService_FindProductsByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesktopService/FindProductsByStatusResponse" message="tns:IDesktopService_FindProductsByStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DesktopEndpoint" type="tns:IDesktopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IDesktopService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/IDesktopService/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProductsByDescription">
      <soap:operation soapAction="http://tempuri.org/IDesktopService/FindProductsByDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProductsByStatus">
      <soap:operation soapAction="http://tempuri.org/IDesktopService/FindProductsByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DesktopService">
    <wsdl:port name="DesktopEndpoint" binding="tns:DesktopEndpoint">
      <soap:address location="http://localhost:8740/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>