HypersDesktopWFApp/HypersDesktopWFApp/Connected Services/ServiceReference1/HypersWebshop.ServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" />
  <xs:complexType name="CompositeProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" minOccurs="0" name="ProductDescription" type="q1:Product_Description" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" minOccurs="0" name="Product_Status" type="q2:Product_Status" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeProduct" nillable="true" type="tns:CompositeProduct" />
  <xs:complexType name="ArrayOfCompositeProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompositeProduct" nillable="true" type="tns:CompositeProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompositeProduct" nillable="true" type="tns:ArrayOfCompositeProduct" />
  <xs:complexType name="CompositeCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerZipcode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeCustomer" nillable="true" type="tns:CompositeCustomer" />
</xs:schema>