HypersDesktopWFApp/HypersDesktopWFApp/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8740/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" />
  <xs:import schemaLocation="http://localhost:8740/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" />
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" minOccurs="0" name="composite" nillable="true" type="q1:CompositeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" minOccurs="0" name="composite" nillable="true" type="q2:CompositeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" minOccurs="0" name="FindProductResult" nillable="true" type="q3:CompositeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsByDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" minOccurs="0" name="description" type="q4:Product_Description" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsByDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" minOccurs="0" name="FindProductsByDescriptionResult" nillable="true" type="q5:ArrayOfCompositeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" minOccurs="0" name="status" type="q6:Product_Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProductsByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" minOccurs="0" name="FindProductsByStatusResult" nillable="true" type="q7:ArrayOfCompositeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>