HypersWebApp/HypersWebApp/HypersWebApp/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_FindProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProduct" />
  </wsdl:message>
  <wsdl:message name="IProductService_FindProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_FindProductsByDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByDescription" />
  </wsdl:message>
  <wsdl:message name="IProductService_FindProductsByDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_FindProductsByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByStatus" />
  </wsdl:message>
  <wsdl:message name="IProductService_FindProductsByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IProductService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProcessSale_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSale" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProcessSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/UpdateProduct" message="tns:IProductService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/UpdateProductResponse" message="tns:IProductService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/CreateProduct" message="tns:IProductService_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/CreateProductResponse" message="tns:IProductService_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/FindProduct" message="tns:IProductService_FindProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/FindProductResponse" message="tns:IProductService_FindProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProductsByDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/FindProductsByDescription" message="tns:IProductService_FindProductsByDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/FindProductsByDescriptionResponse" message="tns:IProductService_FindProductsByDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProductsByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/FindProductsByStatus" message="tns:IProductService_FindProductsByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/FindProductsByStatusResponse" message="tns:IProductService_FindProductsByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/CreateCustomer" message="tns:IProductService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/CreateCustomerResponse" message="tns:IProductService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ProcessSale" message="tns:IProductService_ProcessSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ProcessSaleResponse" message="tns:IProductService_ProcessSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProduct">
      <soap:operation soapAction="http://tempuri.org/IProductService/FindProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProductsByDescription">
      <soap:operation soapAction="http://tempuri.org/IProductService/FindProductsByDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProductsByStatus">
      <soap:operation soapAction="http://tempuri.org/IProductService/FindProductsByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IProductService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSale">
      <soap:operation soapAction="http://tempuri.org/IProductService/ProcessSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HypersWebshop.ServiceLib/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>