HypersWebApp/HypersWebApp/HypersWebApp/Connected Services/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.ServiceLib" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HypersWebshop.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_FindProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProduct" />
  </wsdl:message>
  <wsdl:message name="IWebService_FindProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_FindProductsByDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByDescription" />
  </wsdl:message>
  <wsdl:message name="IWebService_FindProductsByDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_FindProductsByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByStatus" />
  </wsdl:message>
  <wsdl:message name="IWebService_FindProductsByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_ProcessSale_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSale" />
  </wsdl:message>
  <wsdl:message name="IWebService_ProcessSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="FindProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/FindProduct" message="tns:IWebService_FindProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/FindProductResponse" message="tns:IWebService_FindProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProductsByDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/FindProductsByDescription" message="tns:IWebService_FindProductsByDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/FindProductsByDescriptionResponse" message="tns:IWebService_FindProductsByDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProductsByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/FindProductsByStatus" message="tns:IWebService_FindProductsByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/FindProductsByStatusResponse" message="tns:IWebService_FindProductsByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/CreateCustomer" message="tns:IWebService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/CreateCustomerResponse" message="tns:IWebService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/ProcessSale" message="tns:IWebService_ProcessSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/ProcessSaleResponse" message="tns:IWebService_ProcessSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebEndpoint" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindProduct">
      <soap:operation soapAction="http://tempuri.org/IWebService/FindProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProductsByDescription">
      <soap:operation soapAction="http://tempuri.org/IWebService/FindProductsByDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProductsByStatus">
      <soap:operation soapAction="http://tempuri.org/IWebService/FindProductsByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IWebService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSale">
      <soap:operation soapAction="http://tempuri.org/IWebService/ProcessSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebEndpoint" binding="tns:WebEndpoint">
      <soap:address location="http://localhost:8733/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>